
/* 35em is also 560px when basefont is 16px 
changed to 55em to fit gallery */
@media screen and (min-width: 35em) {



    header img {
        width: 70px;
        height: 70px;
    }
    header h1 {
        font-size: 1.7rem;
    }
    header h2 {
        font-size: 1.4rem;
    }

    nav {
        display: flex;
    }
    nav button {
        display: none;
    }
    nav ul.hide {
        display: flex;
    }
    
    nav ul li {
       display: block;
       flex: 1 1 auto;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);

        padding: .6rem 1rem;
        font-size: 1.2rem;
    }
    main h1 {
        font-size: 1.7rem;
    }
    .rentals {
        flex-direction: row;
    }
    .rentals2 {
        padding: .5rem .5rem;
    }
    .locations {
        flex-direction: row;
    }
    .locations2 {
        padding: .5rem .5rem;
    }
    
    .fiveday {
        display: flex;
        flex-direction: column;
        padding: .5rem 2%;
        text-align: center;
        
        background-color: #ffdd3f;
    }
    .fiveday h3{
        font-family: 'Crimson Text', serif;
        font-size: 1.3rem;
    }
    .fivedaytable {
        width: 100%;
        box-shadow: 0 0 10px; 
    }
    .fivedaythead {
        background-color: #39c674;
        color: white;
        font-family: 'Indie Flower', cursive;
        font-size: 1.3rem;
        text-align: center;
        border: 1px solid black;
    }
    .fivedaytd {
        padding: .5rem;
        text-align: center;
        background-color: white;
        border: 1px solid black;
        color: black;

    }
    .newData {
        padding: .5rem;
        text-align: center;
        background-color: white;
        border: 1px solid black;
        color: black;
        font-size: 1.2rem;
        font-family: 'Crimson Text', serif;
    }  
    .newData img {
        width: 75px;
    }
    .iframeDiv {
        width: 50%;
    }
    .location1 {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 1.3rem;
    }
    .location1 h3 {
        font-size: 1.5rem;
    }
    .location2 {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 1.3rem;
    }
    .location2 h3 {
        font-size: 1.5rem;
    }
    .locDiv {
        width: 428px;
    }
    .gmaps {
        width: 100%;
        margin-top: 10px;
    }
    .tours1 img {
        display: block;
        float: right;
        margin: 1em .2em 2em .5em;
    }
    .tours2 img {
        display: block;
        float: right;
        margin: 1em .2em 2em .5em;
    }
    .tours3 img {
        display: block;
        float: right;
        margin: 1em .2em 2em .5em;
    }
    .contacticons {
        padding-top: .6em;
    }
    .contacticons img {
        width: 36px;
    }
    footer {
        font-size: 1.2rem;
        
    }




}