body {
    font-family: 'Ubuntu', sans-serif;
}
table, tr, td {
    border: 1px solid rgb(190, 190, 190);
    border-collapse: collapse;
}
table {
    font-size: 1.5rem;
    box-shadow: 10px 10px 10px #628ca6;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
  }
  tr {
    background-color: #e7ffed;
  }


.head {
    color: white;
    background-color: #628ca6;
    font-weight: bold;
  }


  tr:nth-child(odd) {
    background-color: #e7f0ed;
    color: #000000
  }


  th, tfoot tr td {
  background-color: #7fb9c2;
  color: #000000;
  padding: 10px 10px;
}

td {
  padding: 10px 10px;
}

th {
  font-weight: bold;
  font-size: 2.2rem;
}

tfoot tr td {
    font-size: 1rem;
}

