@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
body {
 
  margin: 0px;
}
body a {
  text-decoration: none;
}
header {
  background-color: $byui-blue;

}

header h1 {
  display: none;
}
header form {
  display: none;
}


.site-banner {
  color: white;
  display: flex;
  justify-content: space-between;
  height: 49px;
  padding-top: 10px;
  font-size: 29px;
  
}

.site-banner__right {
  padding-right: 10px;
 
}

.icon-byui-logo {
  background-color: black;
  padding: 10px;
  color: white;

}
.icon-angle-right {
  color: $link-blue;
  text-decoration-color: #056cb6;
  float: right;
}
.site-header {
  background-color: $light-gray;
  font-family: 'BYUI Open Sans';
  font-size: 20px;
  border: 1px solid $body-font;
  padding: 10px;
  margin-bottom: 40px;
 
}
.site-header a {
  color: $body-font;
  margin-left: 65px;
}

main {
  padding: 10px;
}
.presentation-row {
  display: flex;
  flex-direction: column;
  width: 100%;


}

.small-column {
  width: 100%;
  margin-bottom: 36px;
  border: 1px solid $med-gray;
}
.small-column-noborder {
  width: 100%;
  margin-bottom: 36px;
  
}
.small-column-fig {
  margin: 0px;

}
.small-column-caption {
  color: $link-blue;
  font-family: 'BYUI Open Sans';
  padding: 6px 12px;
}
.highlight-column {
  width: 100%;
  margin-bottom: 36px;
}
.highlight-image {
  width: 100%;
}

aside {
  display: block;
}
.column-heading {
  border: 1px solid $dark-gray;
  background-color: $dark-gray;
  font-size: 22px;
  font-family: 'BYUI Open Sans';
  color: white;
  padding: 10px 20px;
}
.column-heading-blue {
  background-color: $byui-blue;
  font-size: 22px;
  font-family: 'BYUI Open Sans';
  color: white;
  padding: 10px 20px;
  margin: 0px;
}
.column-links {
  margin-bottom: 36px;
}
.small-column h3 {
  margin: 0px;
  line-height: 24px;
}
.resources-link {
  background-color: $light-gray;
  color: $link-blue;
  font-family: 'BYUI Open Sans';
  border-bottom: 1px solid $med-gray;
  border-left: 1px solid $med-gray;
  border-right: 1px solid $med-gray;
  padding: 8px 20px;
  display: block;
}

.resources-link:hover {
  background-color: $med-gray;
}

.resources-link-list {
  background-color: white;
  color: $body-font;
  font-family: 'BYUI Open Sans';
  border-bottom: 1px solid $med-gray;
  border-left: none;
  border-right: none;
  padding: 8px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.col-left {
  flex: 0 0 25%;
  max-width: 25%;
  font-size: 13px;
  font-weight: bold;
}
.col-mid {
  position: relative;
  width: 100%;
  font-size: 13px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-right {
  position: relative;
  width: 100%;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  display: block;
  font-size: 13px;
}
.article {
  border-top: 1px solid $med-gray;
  padding: 25px 0;
  font-size: 15px;
  font-family: 'BYUI Open Sans';
  color: $body-font;
}
.row {
  display: flex;
  flex-wrap: wrap;

}
.col-article {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}
.col-article a {
  color: $byui-blue;
}
.col-article h4 {
  font-size: 17px;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 12px;
}
.article-date {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 6px;
}
.article-p {
  margin: 0 0 24px;
  font-size: 15px;
  margin-bottom: 12px;
  line-height: 24px;
}
.footer-image::before {
  background: url(https://www.byui.edu/prebuilt/stylenew/images/foot/taylor_graphic_fixed.png) bottom no-repeat;
  content: "";
  display: block;
  height: 146px;
}
.footer-image::after {
  background-color: $light-gray;
  border-bottom: 1px solid $body-font;
  border-top: 1px solid $med-gray;
  padding: 30px;
  content: "";
  display: block;
}


